---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Willkommen auf unserer Webseite, die sich ganz dem Thema der Barrierefreiheit im Web verschrieben hat! Hier finden
    wir alle Informationen, die wir benötigen, um unsere Website barrierefrei und für alle zugänglich zu machen. Web
    Accessibility oder "A11y" ist ein wichtiger Schritt, um sicherzustellen, dass jeder, unabhängig von seinen
    Fähigkeiten, das volle Potenzial des Internets nutzen kann. Barrierefreiheit ist nicht nur ein moralisches Gebot,
    sondern auch eine gesetzliche Verpflichtung in vielen Ländern. Auf dieser Webseite bieten wir euch alle
    Informationen über die Bedeutung von A11y, die Gesetzgebung und die technischen Aspekte, die bei der Gestaltung
    barrierefreier Websites zu beachten sind.
  </p>

  <h2>Inhaltsverzeichnis:</h2>

  <ul>
    <li>
      <a href="/tutorials/grundlagen/1-einleitung"
        >Grundlagen der Barrierefreiheit - Behinderungen, Richtlinien und Gesetze</a
      >
    </li>
  </ul>
</BaseLayout>
