---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Home Page'
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Willkommen auf unserer Website, die sich ganz dem Thema der Barrierefreiheit
    im Internet gewidmet ist! Hier finden wir alle Informationen, die wir
    brauchen, um unsere Website für alle zugänglich zu machen. für alle
    zugänglich zu machen. Barrierefreiheit im Web oder "A11y" ist ein wichtiger
    Schritt, um sicherzustellen, dass alle Menschen, unabhängig von ihren
    Fähigkeiten, das volle Potenzial des Internets nutzen kann. Barrierefreiheit
    ist nicht nicht nur ein moralischer Imperativ, sondern in vielen Ländern
    auch eine gesetzliche Verpflichtung. vielen Ländern. Auf dieser Website
    findest du alle Informationen, die du brauchst über die Bedeutung von A11y,
    die Gesetzgebung und die technischen Aspekte, die bei der bei der Gestaltung
    barrierefreier Websites zu beachten sind.
  </p>

  <h2>Inhaltsverzeichnis:</h2>

  <ul>
    <li>
      <a href='/tutorials/grundlagen/einleitung'
        >Grundlagen der Barrierefreiheit - Behinderungen und Richtlinien</a
      >
    </li>
    <li>
      <a href='/tutorials/ux-design/einleitung'
        >Gestaltung einer barrierefreien Benutzererfahrung</a
      >
    </li>
    <li>
      <a href='/tutorials/semantische-struktur/uebersicht'
        >Semantische Struktur und Navigation</a
      >
    </li>
    <li>
      <a href='/tutorials/visuelles-design/uebersicht'
        >Visuelles Design und Farben</a
      >
    </li>
    <li>
      <a href='/tutorials/eingabemethoden/uebersicht'
        >Geräteunabhängige Eingabemethoden</a
      >
    </li>
    <li>
      <a href='/tutorials/formulare/uebersicht'
        >Formularbeschriftungen, Anweisungen und Validierung</a
      >
    </li>
    <li>
      <a href='/tutorials/bilder/uebersicht'>Bilder, SVG und Canvas</a>
    </li>
    <li>
      <a href='/tutorials/responsive-design-und-zoom/uebersicht'
        >Responsive Design und Zoom</a
      >
    </li>
    <li>
      <a href='/tutorials/multimedia/uebersicht'
        >Multimedia, Animationen und Bewegungsabläufe</a
      >
    </li>

    <li>
      <a href='/tutorials/dynamic-updates/uebersicht'
        >Dynamische Updates, AJAX und Single-Page-Apps</a
      >
    </li>

    <li>
      <a href='/tutorials/custom-widgets/uebersicht'
        >Benutzerdefinierte JavaScript/ARIA Widgets</a
      >
    </li>

    <li>
      <a href='/tutorials/testing/uebersicht'
        >Testen der Barrierefreiheit im Internet: Grundlegende Methoden und
        Werkzeuge</a
      >
    </li>

    <li>
      <a href='/tutorials/bildschirmlesegeraete/uebersicht'
        >Testen der Barrierefreiheit im Internet: Bildschirmlesegeräte</a
      >
    </li>

	<li>
      <a href='/tutorials/usability/uebersicht'
        >Usability-Tests für die Barrierefreiheit</a
      >
    </li>
  </ul>
</BaseLayout>
